extends userlayout 

block content 
    .admin-title
        h2 Welcome back, #{user.username}
        a.btn(href="/createevent") Create an event
    p Email: #{user.email}

    h2 List of users
    ul.admin-posts
        each user in users
            li
                //- To do link this 'link' to the correct event so when a user clicks on it
                //- They are led to the event page
                span #{user.username}
                    //- span.event-list__description #{event.description}
                    //- span.event-list__date #{event.date.toDateString()}
                    
                .admin-post-controls
                    a.btn(href=`/edit-user/${user._id}`) View / edit user
                    form(action=`/delete-user/${user._id}?_method=DELETE`, method = "POST")
                        input.btn(type="submit", value="Delete user")
    h2 Users that need approval
    ul.admin-posts
        each user in toBeApprovedUsers
            li
                //- To do link this 'link' to the correct event so when a user clicks on it
                //- They are led to the event page
                span #{user.username}
                    //- span.event-list__description #{event.description}
                    //- span.event-list__date #{event.date.toDateString()}
                    
                .admin-post-controls
                    form(action=`/approve-user/${user._id}?_method=POST`, method = "POST")
                        input.btn(type="submit", value="Approve user")