extends userlayout

block content 
    a(href="/profile") &larr; Back
    .admin-title
        h2 View / edit event
        form(action=`/delete-event/${event.id}?_method=DELETE`, method = "POST", )
            input.btn-delete.btn(type="submit", value="Delete Event")


  
    form(action=`/edit-event/${event._id}?_method=PUT`, method="POST")
        label(for="title") #[strong Title of your event]
        input(type="text", placeholder="Event title", name="title", value=`${event.title}`)

        label(for="location") #[strong Location of your event]
        input(type="text", placeholder="Location of your event", value=`${event.location}`)

        label(for="date") #[strong Date of your event]
        input(type="date", placeholder="Date of your event", name="date",value=`${event.date.toISOString().slice(0,10)}`)

        label(for="targetAudience") #[strong What is the target audience of your event?]
        select(name="targetAudience", value= event.targetAudience, required)
            option(value="Students") Students
            option(value="Childeren") Childeren
            option(value="Adults") Adults
            option(value="Other") Other 

        label(for="ticketPrice") #[strong What is the ticket price of your event?]
        input(type="number", placeholder="There is no ticket price given for your event.", name="ticketPrice",min="0", step="0.01",value=`${event.ticketPrice}`)

        label(for="promoURL") Upload a youtube URL to your promotion video (optional)
        if event.promoURL != null
            input(type="url", placeholder="Enter youtube URL", name="promoURL", value=`${event.promoURL}`)
        else
            input(type="url", placeholder="Enter youtube URL", name="promoURL")
            

        label(for="description") #[strong Description of your event]
        textarea(name="description", placeholder="Update the description of your event" cols="50", rows="10") #{event.description}
        
        input.btn-submit(type="submit", value="Update event") 