extends layout

block content  
  .welcome_text 
    h1.welcome_text__heading Hey welcome to EventLink!
    p.welcome_text__body Here you can make, find and join events.
    p.joke_text__body A little joke to make your day a bit better
    p.joke_text__body #{joke}

  //- Here we could add an image like so:
    img(src="/img/", alt="person looking out through window", class="hero-image", width="981", height="528")

  section.events
    h2.events__heading All the #{count} events
    
    if events.length
      ul.event-ul
        each event in events
          li
            //-To do link this 'link' to the correct event so when a user clicks on it
              They are led to the event page
            a(href=`/event/${event._id}`, class='')
              span #{event.title}
              span.event-list__description #{event.description.length > 80 ? event.description.substring(0, 80) + '...' : event.description}
              .share-section
                span.event-list__date Date:
                span.event-list__date #{event.date.toDateString()}
    else
      p No events yet. Make your very own on the #[a(href="/profile") Profile] page!
    .nav-pagination
      if prevPage != null
        a.pagination(href='/?page=' + prevPage) &lt; View older posts
      else
        span.pagination-placeholder
      if nextPage != null
        a.pagination(href='/?page=' + nextPage) View newer posts &gt;
    br
    br
    hr
    h4 Look for events on the map
    #map
    script.
      //- const events = !{JSON.stringify(events)};

      //- // map to display the events
      //- var map = L.map('map').setView([51.0543, 3.7174], 9);

      //- //Layer for the map (this case its dark)
      //- L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png', {
      //-     minZoom: 8,
      //-     attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      //- }).addTo(map);

      
      //- for (let i = 0; i < events.length; i++) {
      //-   var marker = L.marker(events[i].locationCoordinates).addTo(map);
      //-   marker.bindPopup(events[i].title);
      //- }
      const events = !{JSON.stringify(eventsForMap)};

      // Map aanmaken
      var map = L.map('map').setView([51.0543, 3.7174], 9);

      // Donkere basemap
      L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png', {
        minZoom: 8,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      // Clusterlaag aanmaken
      var markers = L.markerClusterGroup();

      // Markers toevoegen
      for (let i = 0; i < events.length; i++) {
        var marker = L.marker(events[i].locationCoordinates);
        marker.bindPopup(`<a href="/event/` + events[i]._id + '">' + events[i].title);
        markers.addLayer(marker);
      }

      // Clusterlaag toevoegen aan de map
      map.addLayer(markers);