extends userlayout 

block content 
    .admin-title
        h2 Hey #{user.username}
        if user.isApproved
            a.btn(href="/createevent") Create an event
        else
            p(style= "color: red") Approval status: pending
    .admin-title
        p Email: #{user.email}
        a.btn(href="/logout") Logout

    h2.events__heading All your events
    if !events || events.length === 0 
        if user.isApproved
            p You don't have any events yet. Consider making one on the #[a(href="/createevent") create] page.
        else
            p Your account hasn't been approved yet. An admin will approve it ASAP and you'll be able to create an event.

    else
        section.events
            

            ul.admin-posts
                each event in events
                    li
                        //- To do link this 'link' to the correct event so when a user clicks on it
                        //- They are led to the event page
                        a(href=`/event/${event._id}`, class='')
                            span #{event.title} &nearr;
                            //- span.event-list__description #{event.description}
                            //- span.event-list__date #{event.date.toDateString()}
                            
                        .admin-post-controls
                            a.btn(href=`/edit-event/${event._id}`) Edit event 
                            form(action=`/delete-event/${event._id}?_method=DELETE`, method = "POST")
                                input.btn(type="submit", value="Delete event")
            
                 
            .nav-pagination
            if prevPage != null
                a.pagination(href='/?page=' + prevPage) &lt; View older posts
            else
                span.pagination-placeholder
            if nextPage != null
                a.pagination(href='/?page=' + nextPage) View newer posts &gt;

    h2.events__heading Joined events 
    if !regs
        p You don't have any joined events 
    else 
        ul.event-ul
            each reg in regs
                li
                    a(href=`/event/${reg.eventId._id}`, class='')
                        span #{reg.eventId.title}
                        span.event-list__description #{reg.eventId.description.length > 80 ? reg.eventId.description.substring(0, 80) + '...' : reg.eventId.description}
                        .share-section
                            span.event-list__date Date:
                            span.event-list__date #{reg.eventId.date.toDateString()}