extends userlayout 

block content 
    .admin-title
        h2 Hey #{user.username}
        a.btn(href="/createevent") Create an event
    p Email: #{user.email}
    if !events || events.length === 0
        p You don't have any events yet. Consider making one on the #[a(href="/createevent") create] page.
    else
        section.events
            h2.events__heading All your events

            ul.admin-posts
                each event in events
                    li
                        //- To do link this 'link' to the correct event so when a user clicks on it
                        //- They are led to the event page
                        a(href=`/event/${event._id}`, class='')
                            span #{event.title} &nearr;
                            //- span.event-list__description #{event.description}
                            //- span.event-list__date #{event.date.toDateString()}
                            
                        .admin-post-controls
                            a.btn(href=`/edit-event/${event._id}`) Edit event 
                            form(action=`/delete-event/${event._id}?_method=DELETE`, method = "POST")
                                input.btn(type="submit", value="Delete event")
            
            h2.events__heading Joined events
            ul.event-ul
                each event in joinedEvents
                    li
                        a(href=`/event/${event._id}`, class='')
                            span #{event.title}
                            span.event-list__description #{event.description.length > 80 ? event.description.substring(0, 80) + '...' : event.description}
                            .share-section
                                span.event-list__date Date:
                                span.event-list__date #{event.date.toDateString()}
                                
            .nav-pagination
            if prevPage != null
                a.pagination(href='/?page=' + prevPage) &lt; View older posts
            else
                span.pagination-placeholder
            if nextPage != null
                a.pagination(href='/?page=' + nextPage) View newer posts &gt;